<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Evisole_PendingPaypal>
            <version>1.0</version>
        </Evisole_PendingPaypal>
    </modules>

    <global>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>

        <models>
            <pendingpaypalordercron>
                <class>Evisole_PendingPaypal_Model</class>
            </pendingpaypalordercron>                         
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <!-- evisole handle for our layout update XML -->
                <evisole_pendingpaypal>
                    <!-- Here we put our layout file in a new folder (evisole) to seperate the layout file from the core Magento layout files -->
                    <file>evisole_pendingpaypal.xml</file>
                </evisole_pendingpaypal>
            </updates>
        </layout>
    </frontend>

    <crontab>
        <jobs>
            <pendingpaypalordercron>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>evisole/observer::cancelPendingOrders</model>
                </run>
            </pendingpaypalordercron>
        </jobs>
    </crontab>

</config>