<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Evisole_PendingPaypal>
            <version>1.0</version>
        </Evisole_PendingPaypal>
    </modules>

    <global>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
</config>